<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="login_register_styles.css" rel="stylesheet">
    <title>Blog POST</title>
</head>
<body>
    <header>
        <div>
            <h1>Blog POST</h1>
        </div>
    </header>
    <main>
        <div class="card" id="card">
            <h2>Register</h2>
            <input type="text" placeholder="insert your username" id="username" required>
            <input type="password" placeholder="insert your password" id="password" required>
            <button type="submit" onclick="register()">Register</button>
            <p>already have an account? <a href="/">login</a></p>
        </div>
    </main>
    <script src="/login_register.js"></script>
</body>
</html>